[submodule "node_modules"]
	path = node_modules
	url = https://github.com/luascfl/node_modules.git
[submodule "extensions_backup"]
	path = extensions_backup
	url = https://github.com/luascfl/extensions_backup.git
[submodule "super_mcp_servers"]
	path = super_mcp_servers
	url = https://github.com/luascfl/super_mcp_servers.git
[submodule "prompts_backup"]
	path = prompts_backup
	url = https://github.com/luascfl/prompts_backup.git
[submodule "mcps_backup"]
	path = mcps_backup
	url = https://github.com/luascfl/mcps_backup.git
